@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bad+Script&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Great+Vibes&family=Italianno&family=Love+Ya+Like+A+Sister&family=Mrs+Saint+Delafield&family=Playwrite+IN:wght@252&family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bad+Script&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Great+Vibes&family=Italianno&family=Love+Ya+Like+A+Sister&family=Mrs+Saint+Delafield&family=Playwrite+IN:wght@252&family=Playwrite+NL:wght@100..400&family=Pompiere&family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bad+Script&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Great+Vibes&family=Italianno&family=La+Belle+Aurore&family=Love+Ya+Like+A+Sister&family=Mrs+Saint+Delafield&family=Playwrite+IN:wght@252&family=Playwrite+NL:wght@100..400&family=Pompiere&family=Sue+Ellen+Francisco&display=swap');
/* Estilos generales*/
body {
    background-color: #4e3643;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #5f4955;
  display: flex;
  justify-content: center;
}

/* Estilos para el contenedor principal*/
#app {
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px ;  
    background-image: url("../fondo.jpg");
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(175, 153, 167, 0.1);
 }

 /* Estilos para el formulario*/
 form{
    display: flex;
    justify-content: space-between;
 }

 /* Estilos para el input*/
 input{
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px ;  
    width: 75%;
    color: #795c6d;
    padding: 8px;
    margin-right: 9px;
    border: 10px solid #856476;
    border-radius: 3px;
 }

/* Estilos al botón*/
button, a { 
font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
font-size: 20px;
    background-color: #4e3643;
    color: #8b6f81ce;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* Estilos de la lista*/
ul
{ 
    list-style: none;
padding: 0;
border-color: #795267;
opacity: 90%;
}


/*Estilos a los elementos de la lista*/
li{
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px ;  
    background-color: #994a7f;
    padding: 10px;
    border: 1px solid #532a42;
    opacity: 89%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c097ad;
}
/* Estilos para cuando una tarea este completada*/
li.completed {
    text-decoration:line-through;
    color: #462c3a;
}
